/node_modules
/.assetpack
/public/assets
public/.DS_Store
raw-assets/.DS_Store
.DS_Store
/dist
/dist
/dist
dist/style.css
dist/index.html
dist/favicon.png
dist/assets/webworkerAll-kJmSfuwz.js
dist/assets/WebGPURenderer-BJmabMml.js
dist/assets/WebGLRenderer-BuGgHUjJ.js
dist/assets/space_invaders.ttf
dist/assets/SharedSystems-4kD6BeFv.js
dist/assets/preload/ui/white_filled_round_rect@0.5x.webp
dist/assets/preload/ui/white_filled_round_rect@0.5x.png
dist/assets/preload/ui/white_filled_round_rect.webp
dist/assets/preload/ui/white_filled_round_rect.png
dist/assets/preload/ui/slider@0.5x.webp
dist/assets/preload/ui/slider@0.5x.png
dist/assets/preload/ui/slider.webp
dist/assets/preload/ui/slider.png
dist/assets/preload/ui/slider-bg@0.5x.webp
dist/assets/preload/ui/slider-bg@0.5x.png
dist/assets/preload/ui/slider-bg.webp
dist/assets/preload/ui/slider-bg.png
dist/assets/preload/ui/round_rect@0.5x.webp
dist/assets/preload/ui/round_rect@0.5x.png
dist/assets/preload/ui/round_rect.webp
dist/assets/preload/ui/round_rect.png
dist/assets/preload/ui/pattern_round_rect@0.5x.webp
dist/assets/preload/ui/pattern_round_rect@0.5x.png
dist/assets/preload/ui/pattern_round_rect.webp
dist/assets/preload/ui/pattern_round_rect.png
dist/assets/preload/ui/black_filled_round_rect@0.5x.webp
dist/assets/preload/ui/black_filled_round_rect@0.5x.png
dist/assets/preload/ui/black_filled_round_rect.webp
dist/assets/preload/ui/black_filled_round_rect.png
dist/assets/preload/sounds/tutulululu.ogg
dist/assets/preload/sounds/tutulululu.mp3
dist/assets/preload/overlays/state/yellow@0.5x.webp
dist/assets/preload/overlays/state/yellow@0.5x.png
dist/assets/preload/overlays/state/yellow.webp
dist/assets/preload/overlays/state/yellow.png
dist/assets/preload/overlays/state/white@0.5x.webp
dist/assets/preload/overlays/state/white@0.5x.png
dist/assets/preload/overlays/state/white.webp
dist/assets/preload/overlays/state/white.png
dist/assets/preload/overlays/state/status.avif
dist/assets/preload/overlays/state/state.json
dist/assets/preload/overlays/state/red@0.5x.webp
dist/assets/preload/overlays/state/red@0.5x.png
dist/assets/preload/overlays/state/red.webp
dist/assets/preload/overlays/state/red.png
dist/assets/preload/overlays/state/orange@0.5x.webp
dist/assets/preload/overlays/state/orange@0.5x.png
dist/assets/preload/overlays/state/orange.webp
dist/assets/preload/overlays/state/orange.png
dist/assets/preload/overlays/state/green@0.5x.webp
dist/assets/preload/overlays/state/green@0.5x.png
dist/assets/preload/overlays/state/green.webp
dist/assets/preload/overlays/state/green.png
dist/assets/preload/overlays/state/blue@0.5x.webp
dist/assets/preload/overlays/state/blue@0.5x.png
dist/assets/preload/overlays/state/blue.webp
dist/assets/preload/overlays/state/blue.png
dist/assets/preload/logo.svg
dist/assets/preload/invaders.json
dist/assets/preload/flashers/pariscmagic_10juillet_2025.txt
dist/assets/preload/flashers/ninatheo_03_juillet_2025.txt
dist/assets/preload/flashers/invadest_dec2024.txt
dist/assets/preload/flashers/delhoume_latest.txt
dist/assets/preload/flashers/awazleon.txt
dist/assets/preload/flashers/all.txt
dist/assets/preload/cities.json
dist/assets/preload/atlases/WN_00.json
dist/assets/preload/atlases/WN_00.avif
dist/assets/preload/atlases/VSB_00.json
dist/assets/preload/atlases/VSB_00.avif
dist/assets/preload/atlases/VRS_00.json
dist/assets/preload/atlases/VRS_00.avif
dist/assets/preload/atlases/VRN_00.json
dist/assets/preload/atlases/VRN_00.avif
dist/assets/preload/atlases/VLMO_00.json
dist/assets/preload/atlases/VLMO_00.avif
dist/assets/preload/atlases/TLS_00.json
dist/assets/preload/atlases/TLS_00.avif
dist/assets/preload/atlases/TK_00.json
dist/assets/preload/atlases/TK_00.avif
dist/assets/preload/atlases/SPACE_00.json
dist/assets/preload/atlases/SPACE_00.avif
dist/assets/preload/atlases/SP_00.json
dist/assets/preload/atlases/SP_00.avif
dist/assets/preload/atlases/SL_00.json
dist/assets/preload/atlases/SL_00.avif
dist/assets/preload/atlases/SD_00.json
dist/assets/preload/atlases/SD_00.avif
dist/assets/preload/atlases/RTD_00.json
dist/assets/preload/atlases/RTD_00.avif
dist/assets/preload/atlases/ROM_00.json
dist/assets/preload/atlases/ROM_00.avif
dist/assets/preload/atlases/RN_00.json
dist/assets/preload/atlases/RN_00.avif
dist/assets/preload/atlases/REUN_00.json
dist/assets/preload/atlases/REUN_00.avif
dist/assets/preload/atlases/RDU_00.json
dist/assets/preload/atlases/RDU_00.avif
dist/assets/preload/atlases/RBA_00.json
dist/assets/preload/atlases/RBA_00.avif
dist/assets/preload/atlases/RA_00.json
dist/assets/preload/atlases/RA_00.avif
dist/assets/preload/atlases/PRT_00.json
dist/assets/preload/atlases/PRT_00.avif
dist/assets/preload/atlases/PRP_00.json
dist/assets/preload/atlases/PRP_00.avif
dist/assets/preload/atlases/POTI_00.json
dist/assets/preload/atlases/POTI_00.avif
dist/assets/preload/atlases/PAU_00.json
dist/assets/preload/atlases/PAU_00.avif
dist/assets/preload/atlases/PA_03.json
dist/assets/preload/atlases/PA_03.avif
dist/assets/preload/atlases/PA_02.json
dist/assets/preload/atlases/PA_02.avif
dist/assets/preload/atlases/PA_01.json
dist/assets/preload/atlases/PA_01.avif
dist/assets/preload/atlases/PA_00.json
dist/assets/preload/atlases/PA_00.avif
dist/assets/preload/atlases/ORLN_00.json
dist/assets/preload/atlases/ORLN_00.avif
dist/assets/preload/atlases/NY_00.json
dist/assets/preload/atlases/NY_00.avif
dist/assets/preload/atlases/NOO_00.json
dist/assets/preload/atlases/NOO_00.avif
dist/assets/preload/atlases/NIM_00.json
dist/assets/preload/atlases/NIM_00.avif
dist/assets/preload/atlases/NCL_00.json
dist/assets/preload/atlases/NCL_00.avif
dist/assets/preload/atlases/NA_00.json
dist/assets/preload/atlases/NA_00.avif
dist/assets/preload/atlases/MUN_00.json
dist/assets/preload/atlases/MUN_00.avif
dist/assets/preload/atlases/MTB_00.json
dist/assets/preload/atlases/MTB_00.avif
dist/assets/preload/atlases/MRAK_00.json
dist/assets/preload/atlases/MRAK_00.avif
dist/assets/preload/atlases/MPL_00.json
dist/assets/preload/atlases/MPL_00.avif
dist/assets/preload/atlases/MLGA_00.json
dist/assets/preload/atlases/MLGA_00.avif
dist/assets/preload/atlases/MLB_00.json
dist/assets/preload/atlases/MLB_00.avif
dist/assets/preload/atlases/MIA_00.json
dist/assets/preload/atlases/MIA_00.avif
dist/assets/preload/atlases/MEN_00.json
dist/assets/preload/atlases/MEN_00.avif
dist/assets/preload/atlases/MBSA_00.json
dist/assets/preload/atlases/MBSA_00.avif
dist/assets/preload/atlases/MARS_00.json
dist/assets/preload/atlases/MARS_00.avif
dist/assets/preload/atlases/MAN_00.json
dist/assets/preload/atlases/MAN_00.avif
dist/assets/preload/atlases/LY_00.json
dist/assets/preload/atlases/LY_00.avif
dist/assets/preload/atlases/LSN_00.json
dist/assets/preload/atlases/LSN_00.avif
dist/assets/preload/atlases/LJU_00.json
dist/assets/preload/atlases/LJU_00.avif
dist/assets/preload/atlases/LIL_00.json
dist/assets/preload/atlases/LIL_00.avif
dist/assets/preload/atlases/LDN_00.json
dist/assets/preload/atlases/LDN_00.avif
dist/assets/preload/atlases/LCT_00.json
dist/assets/preload/atlases/LCT_00.avif
dist/assets/preload/atlases/LBR_00.json
dist/assets/preload/atlases/LBR_00.avif
dist/assets/preload/atlases/LA_00.json
dist/assets/preload/atlases/LA_00.avif
dist/assets/preload/atlases/KLN_00.json
dist/assets/preload/atlases/KLN_00.avif
dist/assets/preload/atlases/KAT_00.json
dist/assets/preload/atlases/KAT_00.avif
dist/assets/preload/atlases/IST_00.json
dist/assets/preload/atlases/IST_00.avif
dist/assets/preload/atlases/HK_00.json
dist/assets/preload/atlases/HK_00.avif
dist/assets/preload/atlases/HALM_00.json
dist/assets/preload/atlases/HALM_00.avif
dist/assets/preload/atlases/GRU_00.json
dist/assets/preload/atlases/GRU_00.avif
dist/assets/preload/atlases/GRTI_00.json
dist/assets/preload/atlases/GRTI_00.avif
dist/assets/preload/atlases/GRN_00.json
dist/assets/preload/atlases/GRN_00.avif
dist/assets/preload/atlases/GNV_00.json
dist/assets/preload/atlases/GNV_00.avif
dist/assets/preload/atlases/FTBL_00.json
dist/assets/preload/atlases/FTBL_00.avif
dist/assets/preload/atlases/FRQ_00.json
dist/assets/preload/atlases/FRQ_00.avif
dist/assets/preload/atlases/FKF_00.json
dist/assets/preload/atlases/FKF_00.avif
dist/assets/preload/atlases/FAO_00.json
dist/assets/preload/atlases/FAO_00.avif
dist/assets/preload/atlases/ELT_00.json
dist/assets/preload/atlases/ELT_00.avif
dist/assets/preload/atlases/DJN_00.json
dist/assets/preload/atlases/DJN_00.avif
dist/assets/preload/atlases/DJBA_00.json
dist/assets/preload/atlases/DJBA_00.avif
dist/assets/preload/atlases/DIJ_00.json
dist/assets/preload/atlases/DIJ_00.avif
dist/assets/preload/atlases/DHK_00.json
dist/assets/preload/atlases/DHK_00.avif
dist/assets/preload/atlases/CON_00.json
dist/assets/preload/atlases/CON_00.avif
dist/assets/preload/atlases/CLR_00.json
dist/assets/preload/atlases/CLR_00.avif
dist/assets/preload/atlases/CHAR_00.json
dist/assets/preload/atlases/CHAR_00.avif
dist/assets/preload/atlases/CCU_00.json
dist/assets/preload/atlases/CCU_00.avif
dist/assets/preload/atlases/CAZ_00.json
dist/assets/preload/atlases/CAZ_00.avif
dist/assets/preload/atlases/CAPF_00.json
dist/assets/preload/atlases/CAPF_00.avif
dist/assets/preload/atlases/BXL_00.json
dist/assets/preload/atlases/BXL_00.avif
dist/assets/preload/atlases/BTA_00.json
dist/assets/preload/atlases/BTA_00.avif
dist/assets/preload/atlases/BT_00.json
dist/assets/preload/atlases/BT_00.avif
dist/assets/preload/atlases/BSL_00.json
dist/assets/preload/atlases/BSL_00.avif
dist/assets/preload/atlases/BRN_00.json
dist/assets/preload/atlases/BRN_00.avif
dist/assets/preload/atlases/BRL_00.json
dist/assets/preload/atlases/BRL_00.avif
dist/assets/preload/atlases/BRC_00.json
dist/assets/preload/atlases/BRC_00.avif
dist/assets/preload/atlases/BGK_00.json
dist/assets/preload/atlases/BGK_00.avif
dist/assets/preload/atlases/BBO_00.json
dist/assets/preload/atlases/BBO_00.avif
dist/assets/preload/atlases/BAB_00.json
dist/assets/preload/atlases/BAB_00.avif
dist/assets/preload/atlases/AVI_00.json
dist/assets/preload/atlases/AVI_00.avif
dist/assets/preload/atlases/ANZR_00.json
dist/assets/preload/atlases/ANZR_00.avif
dist/assets/preload/atlases/ANVR_00.json
dist/assets/preload/atlases/ANVR_00.avif
dist/assets/preload/atlases/AMS_00.json
dist/assets/preload/atlases/AMS_00.avif
dist/assets/preload/atlases/AMI_00.json
dist/assets/preload/atlases/AMI_00.avif
dist/assets/preload/atlases/AIX_00.json
dist/assets/preload/atlases/AIX_00.avif
dist/assets/main/ui@0.5x.webp.json
dist/assets/main/ui@0.5x.webp
dist/assets/main/ui@0.5x.png.json
dist/assets/main/ui@0.5x.png
dist/assets/main/ui.webp.json
dist/assets/main/ui.webp
dist/assets/main/ui.png.json
dist/assets/main/ui.png
dist/assets/main/sounds/sfx-press.ogg
dist/assets/main/sounds/sfx-press.mp3
dist/assets/main/sounds/sfx-hover.ogg
dist/assets/main/sounds/sfx-hover.mp3
dist/assets/main/sounds/bgm-main.ogg
dist/assets/main/sounds/bgm-main.mp3
dist/assets/main/logo-white.svg
dist/assets/index-BY5woH8E.js
dist/assets/colorToUniform-DmtBy-2V.js
dist/assets/browserAll-COrHUtsR.js
raw-assets/.DS_Store
raw-assets/main{m}/.DS_Store
raw-assets/preload{m}/.DS_Store
raw-assets/preload{m}/.DS_Store
.DS_Store
.DS_Store
raw-assets/preload{m}/.DS_Store
